* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  color: #FFF;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  position: relative;
  flex-direction: column;
  background-color: #FFF;
  overflow: hidden;
}

.header {
  position: absolute;
  justify-content: center;
  background: #000;
  backdrop-filter: blur(2px);
  z-index: 200;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  height: 80px;
}

.button {
  cursor: pointer;
}

.button:active::before {
  background: #4B9200;
}

.button-logo,
.footer-button-logo {
  position: relative;
  width: 82px;
  height: 52px;
  color: #FFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  text-decoration: none;
}

.logo-title,
.footer-logo-title {
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 3.55px 0 0 1px;
}

.logo-title::before,
.footer-logo-title::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 9px;
  width: 21px;
  height: 21px;
  background-image: url(../../assets/icons/bamboo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-item,
.footer-nav-item {
  margin-right: 58px;
}

.header-nav-item:nth-child(6) {
  margin-right: 0;
  margin-left: 381px;
}

.header-nav-link,
.footer-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
  transition: ease-in-out .3s;
}

.header-nav-link:hover,
.footer-nav-link:hover {
  color: #F9804B;
  text-decoration: underline;
}

.header-nav-link-active,
.footer-nav-link-active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  pointer-events: none;
}

.burger-menu-icon {
  display: none;
  position: relative;
  width: 18px;
  height: 10px;
  cursor: pointer;
}

.burger-line1,
.burger-line2,
.burger-line3 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  border-radius: 2px;
  transition: ease-in-out .5s;
}

.burger-line1 {
  top: 0;
}
.burger-line2 {
  top: 4px;
}
.burger-line3 {
  top: 8px;
}

.section {
  justify-content: center;
}

.section-container {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
}

.section-watch {
  height: 780px;
  background-image: url(../../assets/images/giant-panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-container-watch {
  justify-content: flex-end;
}

.watch-online {
  width: 500px;
  text-align: center;
  margin-top: 80px;
}

.page-title {
  position: relative;
  font-weight: 700;
  font-size: 106.5px;;
  line-height: 75%;;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  margin: 86px 0 60px;
  z-index: 50;
}

.page-title::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  left: -73px;
  top: -74px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  z-index: -50;
}

.yellow {
  color: #FFEE2E;
}

.page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  z-index: 1;
}

.page-button::before {
  position: absolute;
  content: "";
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #E47209;
  opacity: 0;
  transition: .3s ease-in-out;
  z-index: -1;
}

.page-button:hover::before {
  opacity: 1;
}

.section-backstage {
  position: relative;
  margin-top: 140px;
}

.section-backstage::before {
  content: "";
  position: absolute;
  width: 301px; height: 613px;
  right: -97px; top: -128px;
  background-image: url(../../assets/images/flower.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

.section-container-backstage {
  justify-content: space-between;
}

.section-backstage-img {
  width: 609px;
  height: 403px;
}

.section-backstage-content {
  width: 465px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.section-backstage-title {
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.section-backstage-subtitle {
  margin: 53px 0 33px;
  font-size: 24px;
  line-height: 120%;
}

.section-pets {
  position: relative;
  margin-top: 160px;
}

.section-pets::before {
  content: "";
  position: absolute;
  width: 880px; height: 460px;
  left: -588px; bottom: 0;
  background-image: url(../../assets/images/palm.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

.section-pets::after {
  content: "";
  position: absolute;
  width: 368px; height: 275px;
  right: 0; bottom: 0;
  background-image: url(../../assets/images/strelitzia.webp);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.section-container-pets {
  position: relative;
  justify-content: center;
}

.button-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 403px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  z-index: 100;
}

.button-arrow:hover {
  cursor: pointer;
}

.button-arrow:active {
  background: #4B9200;
}

.button-arrow-left {
  left: -82px;
}

.button-arrow-right {
  right: -82px;
}

.button-arrow.disabled {
  background: #767474;
  pointer-events: none;
}

.arrow-slider {
  transition: ease-in-out .25s;
}

.button-arrow.disabled .arrow-slider {
  transform: scale(1.5);
}

.slider-container {
  overflow: hidden;
  width: 100%;
  height: 872px;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  width: 3480px;
  z-index: 5;
  position: relative;
  left: -100%;
}

@keyframes move-right {
  from {left: -100%;}
  to {left: -200%;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: .75s;
}

@keyframes move-left {
  from {left: -100%;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: .75s;
}

.slider-left,
.slider-center,
.slider-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.slide {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 366px;
  height: 426px;
  border-radius: 5px;
  background-color: #FFF;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  overflow: hidden;
  z-index: 100;
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.slide-image {
  position: relative;
  z-index: 0;
  width: 366px;
  height: 366px;
  transition: .5s ease-in-out;
}

.slide-description {
  position: relative;
  z-index: 50;
  color: #000;
  width: 366px;
  height: 60px;
  background: #FFF;
  background-image: url(../../assets/images/banana-bamboo.webp);
  background-position: 96.4% 47%;
  background-repeat: no-repeat;
}

.slide-description-meet {
  background-image: url(../../assets/images/meet-fish.webp);
  background-position: 97.5% 40%;
}

.slide-title {
  margin: 8px 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.slide-subtitle {
  margin: -2px 0 0 16px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.slide-description-hover {
  position: absolute;
  width: 100%;
  left: 0; bottom: -30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 0, 0, .5);;
  padding: 10px;
  transition: .5s ease-in-out;
}

.slide-title-hover {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;
}

.slide-subtitle-hover {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  margin: 0;
}

.slide:hover .slide-image {
  transform: scale(1.05);
}

.slide:hover .slide-description-hover {
  bottom: 60px;
}

.section-button {
  width: 298px;
  height: 54px;
  margin: 60px 0 100px;
  background: #FE9013;
  border-radius: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  transition: .3s ease-in-out;
}

.section-button:hover {
  background: #E47209;
}

.section-button:active {
  background: #4B9200;
}

.section-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.section-container-friend {
  flex-direction: column;
  align-items: center;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin: 69px 0 100px;
}

.section-friend-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  margin-bottom: 0;
}

.section-friend-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-left: 98px;
  margin-bottom: 41px;
}

.friend-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  margin-left: 98px;
}

.content-bold {
  font-weight: 500;
  margin-bottom: -6px;
}

.friend-content-normal {
  margin-right: 190px;
}

.friend-infographic-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin-top: 44px;
}

.friend-infographic {
  width: 764px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3px;
}

.friend-infographic-card {
  position: relative;
  width: 168px;
}

.infographic-card-arrow::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 36px;
  right: -100px;
  top: 62px;
  background-image: url(../../assets/icons/big-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}

.card-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background: #FFF;
  border-radius: 5px;
  margin-bottom: 30px;
}

.card-image-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.link-content {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FE9013;
}

.button-section-friend {
  margin: 44px 0 60px;
}

.section-testimonials {
  position: relative;
}

.section-testimonials::after {
  content: "";
  position: absolute;
  width: 409px; height: 407px;
  right: -163px; bottom: -182px;
  background-image: url(../../assets/images/leav.webp);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.section-testimonial-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  margin: 141px auto 47px;
}

.testimonials-container {
  width: 100%;
  overflow: hidden;
}

.testimonials {
  width: 3240px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
  transition: ease-in-out .5s;
}

.testimonial,
.testimonial-popup {
  position: relative;
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  padding: 15.5px;
}

.testimonial {
  pointer-events: none;
}

.testimonial::before,
.testimonial-popup::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.testimonial-profile {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-avatar {
  margin-right: 10px;
}

.testimonial-name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
}

.testimonial-location,
.testimonial-date {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonial-date {
  position: relative;
  margin-left: 14px;
}

.testimonial-date::before {
  content: '•';
  position: absolute;
  top: 0;
  left: -10px;
}

.testimonial-avatar {
  width: 37px;
  height: 37px;
}

.testimonial-content,
.testimonial-popup-content {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  height: 306px;
  overflow: hidden;
  margin-top: 10px;
}

.testimonial-content.popup {
  height: 306px;
}

.testimonials-slider-control {
  width: 100%;
  text-align: center;
  margin: 15px 0 17px;
}

.slider-control {
  position: relative;
  -webkit-appearance: none;
  width: 600px;
  height: 8px;
  background: #F5F7F6;
  border-radius: 5px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
}

.slider-control:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.slider-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12.5%;
  height: 8px;
  margin: 10px 0;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}

.testimonial-button,
.footer-button {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 54px;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  margin: 10px 0 130px;
  text-decoration: none;
  z-index: 1;
}

.testimonial-button::before,
.footer-button::before {
  position: absolute;
  content: "";
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #E47209;
  opacity: 0;
  transition: .3s ease-in-out;
  z-index: -1;
}

.testimonial-button:hover::before,
.footer-button:hover::before {
  opacity: 1;
}

.footer-button:active::before {
  background: #4B9200;
}


.footer {
  justify-content: center;
  background: #111115;
  margin-top: 50px;
  z-index: 50;
}

.footer-container {
  align-items: center;
  width: 1160px;
  margin: 42px 0;
}

.footer-socialmedia-icons {
  display: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-form-fieldset {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.footer-form-legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.footer-form-text {
  position: relative;
  width: 228px;
  height: 42px;
  padding-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #FE9013;
  outline: none;
}

.footer-form-submit {
  width: 129px;
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
}

.footer-form-text:focus {
  border: 0.7px solid #4B9200;
}

.footer-form-text:invalid {
  border: 1px solid #D31414;
  color: #D31414;
}

.footer-form-text:valid ~ .footer-form-submit:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.footer-form-text:invalid ~ .footer-form-submit {
  color: #D31414;
  border: 1px solid #D31414;
}

.footer-button {
  margin: 36px 0 18px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer-socialmedia-list {
  list-style: none;
}

.footer-socialmedia-item {
  margin-top: 14px;
  margin-left: 0px;
}

.footer-socialmedia-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.footer-socialmedia-link::before {
  content: "";
  position: absolute;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  left: -40px;
  top: -5px;
  background-repeat: no-repeat;
  transition: .2s ease-in-out;
}

.socialmedia-facebook::before {
  background-image: url(../../assets/icons/facebook.svg);
}

.socialmedia-twitter::before {
  background-image: url(../../assets/icons/twitter.svg);
}

.socialmedia-instagram::before {
  background-image: url(../../assets/icons/instagram.svg);
}

.socialmedia-youtube::before {
  background-image: url(../../assets/icons/youtube.svg);
}

.footer-socialmedia-link:active,
.footer-socialmedia-link:hover {
  color: #4B9200;
}

.footer-socialmedia-link:active::before,
.footer-socialmedia-link:hover::before {
  background-color: #4B9200;
}

.footer-nav-list {
  display: flex;
  list-style: none;
  margin-left: 132px;
}

.footer-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-copyright {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-copyright-content {
  margin: 14px 0;
}

.shadow {
  position: fixed;

  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: .5s ease-in-out;
}

.shadow.active {
  z-index: 250;
  background: rgba(0, 0, 0, .5);
}

.shadow.popup {
  z-index: 250;
  background: rgb(245, 247, 246, .9);
}

.burger-menu {
  position: fixed;
  width: 100%;
  left: 100%;
  padding: 10px 10px 22px;
  background-color: #FFF;
  z-index: 300;
  transition: .5s ease-in-out;
}

.burger-menu.active {
  left: 0;
}

.menu-logo-container {
  justify-content: space-between;
  margin-bottom: 30px;
}

.burger-menu-logo {
  position: relative;
  width: 65.6px;
  height: 41.6px;
  color: #FE9013;
  border: 0.950725px solid #FE9013;
  border-radius: 2px;
  text-decoration: none;
}

.burger-menu-title {
  font-weight: 400;
  font-size: 15.2116px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding: 3px 0 0 1px;
}

.burger-menu-title::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 7.25px;
  width: 17px;
  height: 17px;
  background-image: url(../../assets/icons/bamboo-yellow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.burger-menu-cross {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-cross1,
.menu-cross2 {
  position: absolute;
  top: 20px;
  width: 40px;
  height: 1.5px;
  background-color: #FE9013;
  border-radius: 2px;
  transform: rotate(45deg);
}

.menu-cross2 {
  transform: rotate(-45deg);
}

.burger-menu-list {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
}

.burger-menu-item {
  margin-bottom: 15px;
}

.burger-menu-link {
  color: #333B41;
  text-decoration: none;
  transition: .1s ease-in-out;
}

.burger-menu-link:hover {
  color: #FE9013;
  text-decoration: underline;
}

.testimonial-popup {
  position: fixed;
  top: 0;
  bottom: -150vh;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -100;
  transition: ease-in-out .5s;
}

.testimonial-popup.active {
  bottom: 0;
  z-index: 300;
}

.testimonial-popup-cross {
  position: absolute;
  top: 0px; right: -20px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.testimonial-popup-cross1,
.testimonial-popup-cross2 {
  position: absolute;
  width: 20px;
  height: 2px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 2px;
  transform: rotate(45deg);
}

.testimonial-popup-cross2 {
  transform: rotate(-45deg);
}